@import "tailwindcss";

@theme {
	--color-background: #f2efe7;
	--color-aqua-100: #9acbd0;
	--color-aqua-500: #48a6a7;
	--color-aqua-900: #006a71;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: var(--color-background);
}

.shadow-strong,
.shadow-strong-select,
.shadow-strong-clickable,
.shadow-strong-card,
.shadow-strong-input,
.shadow-strong-delete {
	box-shadow: 4px 3px 1px black;
	border: solid 2px black;
	border-radius: 4px;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.shadow-strong-clickable:hover {
	transform: translate(-1px, -1px);
	background-color: var(--color-aqua-900);
	color: var(--color-background);
	box-shadow: 5px 4px 2px black;
}
.shadow-strong-delete:hover {
	transform: translate(-1px, -1px);
	background-color: red;
	color: var(--color-background);
	box-shadow: 5px 4px 2px black;
}
.shadow-strong-card:hover,
.shadow-strong-input:hover {
	background-color: var(--color-aqua-900);
}
.shadow-strong-input:hover {
	color: var(--color-background);
}

.shadow-strong-select:hover {
	transform: translate(-1px, -1px);
	box-shadow: 5px 4px 2px black;
}

.shadow-strong-select:active,
.shadow-strong-clickable:active {
	transform: translate(2px, 2px);
	box-shadow: 2px 1px 0px black;
}

.color-slide {
	position: relative;
}
.color-slide::before {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 101%;
	z-index: -1;
	transform: scaleX(0);
	transition: transform 0.6s;
	transform-origin: left;
	content: "";
}
.color-slide:hover::before {
	transform: scaleX(100%);
}
