@import "tailwindcss";

@theme {
	--color-background: #f2efe7;
	--color-aqua-100: #9acbd0;
	--color-aqua-500: #48a6a7;
	--color-aqua-900: #006a71;
}

body {
	background-color: var(--color-background);
}

.shadow-strong,
.shadow-strong-clickable {
	box-shadow: 4px 3px 1px black;
	border: solid 2px black;
	border-radius: 4px;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.shadow-strong-clickable:hover {
	transform: translate(-1px, -1px);
	background-color: var(--color-aqua-900);
	color: var(--color-background);
	box-shadow: 5px 4px 2px black;
}
.shadow-strong-clickable:active {
	transform: translate(2px, 2px);
	box-shadow: 2px 1px 0px black;
}
